body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 300px;
  line-height: 300px;
  background: #FFCC33;
  overflow: hidden;
}

.text-center{
  text-align: center;
}

.p-10{
  padding: 10px;
}
.p-20{
  padding: 20px;
}
.p-60{
  padding: 60px;
}